<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify - Find Your Dream Job</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <script src="https://kit.fontawesome.com/1eba5d9115.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'node_modules/aos/dist/aos.css' %}" />
    <script src="{% static 'node_modules/aos/dist/aos.js' %}"></script>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <!-- Website Title -->
            <div class="h2container">
                <i id="money-icon"class="fa-solid fa-money-bill-wave fa-2xl" style="color:#f83c20 ; margin: 10%;"></i>
                
                <h2>Jobify</h2>
            </div>
            <!-- Buttons Container -->
            <div class="buttons-container">
                {% if user.is_authenticated %}
                    <a href="{% url 'account' %}" style="text-decoration: none;"><button id="account">Account<i class="fa-regular fa-user" style="color: #ffffff; margin-left: 15%;"></i></button></a>
                    <a href="{% url 'postjob' %}" style="text-decoration: none;"><button id="post-job" style="text-decoration: none;">Post a Job<i class="fa-solid fa-pencil" style="color: #ffffff; margin-left: 15%;"></i></button></a>
                    {% if user.is_staff or user.is_superuser %}
                        <a href="{% url 'admin_panel' %}" style="text-decoration: none;"><button id="admin-panel">Admin Panel <i class="fa-solid fa-toolbox" style="color: #ffffff; margin-left: 15%;"></i></button></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'postjob' %}" style="text-decoration: none;"><button id="post-job">Post a Job<i class="fa-solid fa-pencil" style="color: #ffffff; margin-left: 15%;"></i></button></a>
                    <a href="{% url 'signin' %}" style="text-decoration: none;"><button id="sign-up">Register<i class="fa-solid fa-user-plus" style="color: #ffffff; margin-left: 15%;"></i></button></a>
                    <a href="{% url 'signin' %}" style="text-decoration: none;"><button id="sign-in">Log In<i class="fa-regular fa-user" style="color: #ffffff; margin-left: 15%;"></i></button></a>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Main Content Section -->
    <main>
        <div class="hero-section">
            
            <h1>Helping Normal-
                <br>Community students find 
                <br> perfect job
            </h1>
            <!-- Search Box -->
            <div class="semi-circle">
            <div id="input-box" style="display: flex; align-items: center;">
                <form action="{% url 'search' %}" method="get" class="search-form" style="display: flex; width: 100%;justify-content: center;">
                    <input type="search" id="search-bar" name="search" placeholder="Job title, company, or keywords" style="flex: 1;">
                    <button type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;margin-right: 15%;"></i>Search Jobs</button>
                </form>
            </div>
            </div>
        </div>

        <div class = "oval">
            <div class = "hero-section" id = "image-1">
                <h1>Helping NCHS Students Find Jobs</h3>
            </div>
            <div class = "hero-section" id = "image-2">
                <h1>Helping Employers Find Empoyees</h3>
            </div>
            <div class = "hero-section" id = "image-3">
                <h1>Quick and Easy Applications</h3>
            </div>
        </div>
        <div class = "testimonials">
            <div class = "testimonial-left" data-aos="fade-right" data-aos-duration="1000">
                <img src="{% static 'images/testimonial1.jpg' %}" alt="Testimonial 1">
                <p>“I was able to find a job that I love within a week of using Jobify. I would recommend it to anyone looking for a job.”</p>
            </div>
            <div class = "testimonial-right" data-aos="fade-left" data-aos-duration="1000">
                <p>“I was able to find a job that I love within a week of using Jobify. I would recommend it to anyone looking for a job.”</p>
                <img src="{% static 'images/testimonial2.jpg' %}" alt="Testimonial 2">
            </div>
        </div>
    </div>
    </main>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <p>Developed by Jack and Mohnish</p>
            <p>Terms of Service</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            <p>Ads info</p>
            <p>More</p>
            <p>Job Portal Company Details</p>
        </div>
    </footer>
    <script src="{% static 'js/landing.js' %}"></script>
    <script src="{% static 'js/signin.js' %}"></script>
    <script>
        window.embeddedChatbotConfig = {
            chatbotId: "K05nNPTlJnV2SiHKD-nqs",
            domain: "www.chatbase.co"
        }
    </script>
    <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="K05nNPTlJnV2SiHKD-nqs"
        domain="www.chatbase.co"
        defer>
    </script>
    <script>
        AOS.init({
            once: false,
            offset: 200
        });
    </script>
</body>
</html>