.progress-container {
    position: relative;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    transform: rotate(-90deg); /* Rotates so 0% starts at the top */
}

.progress-ring {
    fill: none;
    stroke: #c0bdb8; /* Background circle color */
    stroke-width: 10;
}

.progress-bar {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 314; /* Circumference of the circle */
    stroke-dashoffset: 314; /* Initially empty */
    transition: stroke-dashoffset 1s ease-in-out, stroke 0.5s ease-in-out;
}

.percentage-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -300%);
    font-size: 20px;
    font-weight: bold;
}

form#post-job-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 356px) {
    form#post-job-form {
        justify-content: center;
    }
}
.form-container{
    max-width: 100% !important;
}
textarea#id_description{
    font-family:'Roboto' ;
}
